{% load static %}
<html>
    <head>
        <title>Tanimoto's Portfolio</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">tanimoto's portfolio</a></h1>
        </div>
        {% block content %}
        {% endblock %}
        <footer>
            © 2021 tanimoto
        </footer>
    </body>
</html>